
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="hair-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hairextensions
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="hair-link">
                <a href="" class="dropdown-item">Tape-on extensions</a>
                <a href="" class="dropdown-item">Clip-on extensions</a>
                <a href="" class="dropdown-item">Nail-hair extensions</a>
                <a href="" class="dropdown-item">All types of hairextensions</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="tool-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hair Care & Tools
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="tool-link">
                <a href="" class="dropdown-item">Hair Care</a>
                <a href="" class="dropdown-item">Hair Tools</a>
                <a href="" class="dropdown-item">All types of Care & Tools</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>